@font-face {
	font-family: "Open Sans";
  src: local('Open Sans'),
       url("../fonts/OpenSans-Regular.woff2") format("woff2"), 
       url("../fonts/OpenSans-Regular.woff") format("woff"),
       url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: "Open Sans";
  src: local('Open Sans'),
       url("../fonts/OpenSans-Bold.woff2") format("woff2"), 
       url("../fonts/OpenSans-Bold.woff") format("woff"),
       url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  font-size: 93.75%;
}

body {
	margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-size: 1rem;
  line-height: 1.2;
  font-family: 'Open Sans', 'Tahoma', sans-serif;
}

.header {
  position: relative;
  padding: 30px 0;
  min-height: 100vh;
  background-color: #0a0e34;
  color: #ffffff;
}

.header::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(10, 14, 52, 0.1);
}

.header-container {
  padding-left: 20px;
  padding-right: 20px;
}

.logo-container {
  margin: 0 auto;
  width: 41.5625vw;
  max-width: 200px;
}

.main-title {
  display: flex;
  flex-direction: column;
  margin: 45% auto;
  
  text-transform: uppercase;
  font-size: 8.75vw;
}

.main-title span:first-child {
  align-self: flex-start;
}

.main-title span:last-child {
  align-self: flex-end;
  padding-left: 1.5em;
}

@media (min-width: 641px) {
  
  .main-title {
    padding-left: 11%;
    padding-right: 5%;
    margin: 20.83% auto;
  }
}

@media (min-width: 961px) {
  .header {
    padding: 40px 0;
  }

  .main-title {
    font-size: 90px;
    margin: 260px auto;
  }

  .header-container {
    max-width: 1560px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1200px) {
  .main-title {
    padding-left: 0;
    padding-right: 0;
  }
}