@font-face {
	font-family: "Open Sans";
	src: local("Open Sans"), url("../fonts/OpenSans-Regular.woff2") format("woff2"),
		url("../fonts/OpenSans-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: local("Open Sans"), url("../fonts/OpenSans-Bold.woff2") format("woff2"),
		url("../fonts/OpenSans-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: local("Open Sans"), url("../fonts/OpenSans-Light.woff2") format("woff2"),
		url("../fonts/OpenSans-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	font-size: 93.75%;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-size: 1rem;
	line-height: 1.2;
	font-family: "Open Sans", "Tahoma", sans-serif;
	letter-spacing: 0.05em;
	color: #000000;
	counter-reset: hero;
}

.page {
	min-width: 300px;
	overflow: hidden;
}

.header,
.footer {
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	min-height: 568px;
	max-height: 960px;

	background-color: rgba(10, 14, 52, 0.9);
	color: #ffffff;
}

.header {
	padding: 2em 0 4.66em;
}

.header::before,
.footer::before {
	content: "";

	position: absolute;
	z-index: -1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
}

.top::before {
	background-image: url("../images/football_767.jpg");
}

.bottom::before {
	background-image: url("../images/game_767.jpg");
}

.footer {
	padding: 100px 0 20px;
}

.logo-container {
	margin: 0 auto;

	width: 41.5625vmin;
	max-width: 205px;
}

.main-title {
	display: flex;
	flex-direction: column;
	margin: 40vmin auto;

	text-transform: uppercase;
	font-size: 8.75vmin;
}

.main-title-gap {
	align-self: flex-end;
	padding-left: 1.5em;
}

.container {
	padding-left: 20px;
	padding-right: 20px;
}

.app-link-wrapper {
	margin-top: auto;
}

.app-link {
	display: flex;
	align-items: center;
	margin: 1rem auto;
	padding: 0.57em 10em;
	max-width: 35em;

	font-size: 0.533em;
	text-transform: uppercase;
	background-color: #5e42b0;
	color: #ffffff;
	text-decoration: none;
	border-radius: 14121991px;
}

.app-link:hover,
.app-link:active {
	opacity: 0.9;
}

.app-link svg {
	width: 2.5em;
	height: 3em;
	margin-right: 1em;

	fill: #ffffff;
}

.app-link-strong {
	font-weight: bold;
	display: block;
}

.app-link.apple::before {
	background-image: url("../images/apple_logo_black.svg");
}

.section-title {
	margin-top: 10px;
	margin-bottom: 10px;

	color: #e7e7e7;
	font-size: 50px;
	text-transform: uppercase;
}

.line-article {
	counter-reset: line;
}

.line {
	padding: 55px 0;

	counter-increment: line;
}

.line-light {
	background-color: #f5f4f9;
}

.line-color {
	background-color: #5e42b0;
	color: #ffffff;
}

.line-dark {
	background-color: #0a0e34;
}

.line-title {
	position: relative;

	padding-left: 1em;
	margin-top: 0;
	margin-bottom: 20px;

	font-size: 23px;
	line-height: 1;
	color: #c1c1c1;
	text-transform: uppercase;
}

.counter {
	position: absolute;
	left: 0;
	top: 0.1em;

	display: flex;
	flex-direction: column;
}

.counter::before {
	content: counter(line, decimal-leading-zero);
	font-size: 14px;
	color: #000000;
}

.counter::after {
	content: "";

	display: block;
	height: 4px;

	border-radius: 14121991px;
	background-color: #5e42b0;
}

.line-text {
	margin: 0;
}

.line-color .counter::after {
	background-color: #ffffff;
}

.line-dark .counter::before {
	color: #5e42b0;
}

.hero-image {
	display: block;
	font-size: 0;
}

.hero-image img {
	max-width: 100%;
}

.hero-title {
	position: relative;

	margin-top: 0;
	margin-bottom: 15px;

	font-size: 28px;
	text-transform: uppercase;
	color: #e7e7e7;
}

.hero-text-wrapper {
	padding: 25px 20px 75px;
}

.hero-text {
	margin: 0;
	font-size: 16px;
	line-height: 1.25;
}

.footboller,
.basketballer {
	display: flex;
	justify-content: center;
}

.hero {
	counter-increment: hero;
}

.hero-counter {
	position: absolute;
	left: 0;
	top: -83px;

	display: flex;
	width: 70px;
	height: 70px;

	background-color: #5e42b0;
}

.hero-counter-text {
	margin: auto;
	display: flex;
	flex-direction: column;
}

.hero-counter-text::before {
	content: counter(hero, decimal-leading-zero);

	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
}

.hero-counter-text::after {
	content: "";

	display: block;
	height: 4px;
	border-radius: 14121991px;

	background-color: #ffffff;
	opacity: 0.3;
}

.footer-title-wrapper {
	text-align: center;
}

.footer-title-wrapper::before {
  content: "";
  
	display: block;
  margin: 0 auto 50px;
	width: 72px;
  height: 74px;
  
	background: url(../images/surface_logo.svg) center no-repeat,
		linear-gradient(to bottom, #7751db 0%, #5e3db3 51%, #50329c 100%);
	background-size: 75%;
	border-radius: 20%;
}

.footer-title {
  margin-bottom: 0;
  margin-top: 0;

	font-size: 10vmin;
	text-transform: uppercase;
}

.footer-subtitle {
  margin-top: 0;
  margin-bottom: 0;

	font-size: 4.375vmin;
	text-transform: uppercase;
	color: #9b8ec1;
	font-weight: normal;
}

.bottom .app-link-wrapper {
  margin-top: 0;
}

@media (min-width: 641px) {
	html {
		font-size: 100%;
	}

	.main-title {
		margin: 20.83% 8.5%;
	}

	.app-link-wrapper {
		display: flex;
		justify-content: center;
	}

	.app-link {
		flex: 1;
		margin: 1em;
		padding: 0.5em 3.86em;
		max-width: 310px;

		font-size: 14px;
		font-weight: 300;
	}

	.line {
		padding: 38px 0 33px;
	}

	.line-title {
		font-size: 32px;
	}

	.line-text {
		line-height: 1.75;
	}

	.counter::before {
		font-size: 18px;
	}

	.counter::after {
		height: 5px;
		margin-top: 0.1em;
	}

	.line-inner {
		display: flex;

		padding-left: 12px;
		padding-right: 12px;
	}

	.line-column {
		width: 62.93%;
		position: relative;
	}

	.is-right {
		justify-content: flex-end;
	}

	.section-title {
		position: relative;

		margin-bottom: 0;
		margin-top: 65px;

		font-size: 80px;
	}

	.footboller {
		position: absolute;
		top: 97px;
		right: calc(100% - 37px);
	}

	.basketballer {
		position: absolute;
		top: 37px;
		left: calc(100% - 18vw);
	}

	.hero-text-wrapper {
		padding: 70px 30px 75px;
	}

	.hero-title {
		font-size: 80px;
		margin-bottom: 0.25em;
	}

	.hero-text {
		font-size: 24px;
	}

	.hero-counter {
		top: -151px;

		width: 116px;
		height: 116px;
	}

	.hero-counter-text::before {
		font-size: 24px;
	}

	.hero-counter-text::after {
		height: 5px;
  }
  
  .footer-title-wrapper::before {
    width: 130px;
    height: 137px;
  }
}

@media (min-width: 961px) {
	html {
		font-size: 125%;
	}

	.footer-title {
		font-size: 80px;
	}

	.footer-subtitle {
		font-size: 36px;
	}

	.top::before {
		background-image: url("../images/football_1280.jpg");
	}

	.bottom::before {
		background-image: url("../images/game_1280.jpg");
	}

	.main-title {
		margin: auto 8.5%;
		font-size: 5.75vw;
	}

	.app-link {
		padding: 1em;
		justify-content: center;
	}

	.app-link svg {
		font-size: 16px;
	}

	.line {
		padding: 55px 0 50px;
	}

	.line-column {
		width: 50%;
	}

	.line-column.is-right {
		width: calc(50% - 50px);
	}

	.line-title {
		font-size: 36px;
	}

	.section-title {
		margin-top: 98px;
		margin-bottom: 40px;
	}

	.is-right .line-title {
		margin-bottom: 10px;
	}

	.footboller {
		top: 30px;
		right: calc(100% + 50px);
	}

	.line-inner {
		padding-left: 0;
		padding-right: 0;
	}

	.basketballer {
		position: absolute;
		top: 20px;
		left: calc(100% - 150px);
	}

	.hero {
		display: flex;
	}

	.hero-image,
	.hero-text-wrapper {
		width: 50%;
	}

	.hero-image {
		text-align: right;
	}

	.hero-text-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0 20px 0 70px;
	}

	.hero-counter {
		top: 50%;
		left: -70px;
		transform: translate(-50%, -50%);
	}

	.hero-title {
		margin-bottom: 9%;

		font-size: 4.166vw;
	}

	.is-right {
		justify-content: flex-end;
	}

	.is-right .hero-image {
		order: 1;
		text-align: left;
	}

	.is-right .hero-text-wrapper {
		padding: 0 70px 0 20px;
	}

	.is-right .hero-counter {
		left: calc(100% + 70px);
  }
  
  .footer-title-wrapper {
    display: flex;
    justify-content: center;
  }

  .footer-title-wrapper::before {
    margin: 0 35px 0 0;
  }

  .footer {
    padding: 230px 0 50px;
  }
}

@media (min-width: 1530px) {
	.container {
		max-width: 1560px;
		margin-left: auto;
		margin-right: auto;
	}

	.main-title {
		font-size: 90px;
		width: 100%;
	}

	.app-link-wrapper {
		width: 100%;
	}

	.top::before {
		background-image: url("../images/football_1920.jpg");
	}

	.bottom::before {
		background-image: url("../images/game_1920.jpg");
	}

	.hero-text-wrapper {
		padding: 0 20px 0 130px;
		max-width: 780px;
	}

	.hero-counter {
		width: 168px;
		height: 155px;
		left: -130px;
	}

	.is-right .hero-text-wrapper {
		padding: 0 130px 0 20px;
	}

	.is-right .hero-counter {
		left: calc(100% + 130px);
	}

	.hero-title {
		font-size: 80px;
	}
}
